@*
    This page will have:
    1. list of employees with info about if they are clocked in or out and what they are clocked into
    2. the ability to add employees to the database
*@
@{
    ViewData["Title"] = "Employees";
}
<h1>@ViewData["Title"]</h1>
<br />
<h2>Pages</h2>
<ul>
    <li>
        <a href="/Employees/ViewEmployees">View Employees</a>
    </li>
    <li>
        <a href="/Employees/AssignTags">Assign Tags</a>
    </li>
</ul>