@*
    This page will have:
    1. list of employees with info about if they are clocked in or out and what they are clocked into
    2. the ability to add employees to the database
*@
@{
    ViewData["Title"] = "Employees";
}
<h1>Employees page</h1>