@model Switchgear_TimeTracker.Models.TblProject
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/LogTime/">Log time</a>
    <br />
    <a href="/Employees/">Employees</a>
</div>
