@model Switchgear_TimeTracker.Models.TblProject
@{
    ViewData["Title"] = "Log Time";
}
    
    <h1>Project Work Logger</h1>
    <section>
        @if (Model != null)
            {
                <h2>Project: @Model.ProjectNo</h2>
            }
        else
            {
                <h2>No Project Selected</h2>
            }
        <a href="/LogTime/SelectProject">Change Project</a>
    </section>

