@model Switchgear_TimeTracker.Models.TblTemplatePlanningPanelInfo
@{
    string alertType = Convert.ToString(TempData["AlertType"]);
    ViewData["Title"] = "Backplate Select";
}
 @if (Model == null || Model.Pannel.Backplates.Count == 0) 
 { 
     <p>No backplates have been created for this panel. Contact the app maintainer to create backplates for this panel.</p> 
} 
<div class="text-center">
 @foreach (var backplate in @Model.Pannel.Backplates) 
 { 
     <p>@backplate.Id</p> 
 }
</div>
